.container{
   height: 431px;
   width: 370px;
   border: 7px solid rgb(83, 62, 7);
   margin-top: 180px;
   font-family: 'Courier New', Courier, monospace;
   font-style: initial;
   font-weight: bolder;
   background-color: black;
  padding: 2.5px 2.5px;
 }
 .operator{
  background-color: rgb(111, 111, 233);
 }
 .keyboard{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  
 }
.first-operand{
  overflow: hidden;
  white-space: nowrap;
  max-width: 350px;
}

 .equals-key, .delete, #dot{
  background-color: yellowgreen;
 }
 .display{
   border-bottom: 1px solid black;
   height: 70px;
   border: 5px solid black;
   background-color: rgb(140, 229, 218);
   font-size: 6vmin;
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
    overflow: hidden;
   
 }
.number{
  background-color: rgb(202, 122, 51);
}

button{
border-radius: 15px;
flex: 120px;
height: 58px;
max-width: 370px;
border: 3px solid rgb(48, 36, 5);
font-size: large;
font-family: 'Courier New', Courier, monospace;
   font-style: initial;
   font-weight: bolder;
   padding: 15px 25px;
   cursor:pointer;
   outline: none;
   border-color:  black;
   box-shadow: 0 4px red;
   background-color: #04AA6D;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
body{
  display: flex;
  justify-content: center;
  background-color: peachpuff;
}

